.form {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    text-align: center;
    transform: translate(-50%, -50%) }

.input { margin: 5px;
    height: 30px;
    width: 200px;
    text-align: center;}

:focus::-webkit-input-placeholder {
    color: transparent
}

.error {
    color: red;
}