html, body {
    margin:0;
    padding:0;
}

button {
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.header {
    height: 100px;
    font-size: 50px;
    vertical-align: center;
    padding-left: 300px;
}

.main{
    margin:0 auto;
    width:100%;
    font-size:0;
}

.main > div {
    display: inline-block;
    vertical-align:top;
    font-size: 24px;
}

.left{
    min-width: 10%;
    padding: 0 10px;
}

.center {
    padding: 0 10px;
    min-width: 40%;
    max-height: 100%;
}

.center .container {
    max-height: 80%;
    overflow-y:auto;
}

.right {
    padding: 0 10px;
    min-width: 10%;
    font-size: 14px;
    font-weight: normal;
}

.main > div div {
    display: block;
    width: auto;
    margin: 10px 0;
}

.logout {
    margin-top: 40px;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

#panel select, #panel input {
    width: 100%;
    height: 40px;
    font-size: 24px;
}

#panel input[type="radio"], #panel input[type="checkbox"] {
    height: initial;
    margin: 0;
}

#panel .ok, #panel .cancel, #show .ok, #show .cancel, #delete .ok, #delete .cancel {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
}

#panel .ok, #show .ok, #delete .ok {
    margin-right: 20px;
}

.error {
    color: red;
}

.main .hidden {
    display: none;
}
