.table {
    vertical-align: center;
    display: table;
}

.table .row {
    display: table-row;
}

.table .row div:first-child {
    font-weight: bold;
}

.table .row div {
    display: table-cell;
    min-width: 100px;
    padding-left: 10px;
}
